header, footer{
    font-size: 2rem;
    color: #ccc;
    text-align: center;
    height: 80px;
}

header{
    background-color: blue;
}

footer{
    background-color: brown;
}

.content > .row{
    height: calc(100vh - 160px);
}

.b{
    border: 1px solid black;
}

.content .row nav{
    background-color: greenyellow;
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

.content .row .main{
    background-color: orange;
}

.content .row .main .row{
    height: 100%;
}

.content .row .main .row .article article{
    text-align: center;
    color: #fff;
    font-size: 2rem;
    background-color: rgb(7, 113, 77);
    height: 100%;
}

.content .row .main .row .aside aside{
    background-color: violet;
    color: #fff;
}

/**
 * MEDIA
 */

@media screen and (max-width: 992px) {
    .content > .row{
        height: calc(100vh - 160px);
    }

    .content .row .main .row .article{
        height: 70%;
    }

    .content .row .main .row .aside{
        height: 30%;
    }
}


@media screen and (max-width: 576px) {
   
    .content .row .main .row .article{
        height: 70%;
    }

    .content .row .main .row .aside{
        height: 30%;
    }

    nav{
        height: 100px;
    }

    .main{
        height: calc(100vh - 260px);
    }
}







